.main {
    display: flex;
    align-items: center;
    flex-grow: 1;

    &_container {
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 1199px) {
            justify-content: space-between; 
        }
        @media screen and (max-width: 991px) {
            flex-direction: column; 
        }
    }

    &_left {
        width: calc((100% - 50px) / 2);
        @media screen and (max-width: 1199px) {
            width: calc((100% - 50px) * 0.3)
        }
        @media screen and (max-width: 991px) {
            width: calc((100% - 20px) * 0.3);
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
        }
    }

    &_right {
        width: calc((100% - 50px) / 2);
        @media screen and (max-width: 1199px) {
            width: calc((100% - 50px) * 0.7)
        }
        @media screen and (max-width: 991px) {
            width: calc((100% - 20px) * 0.7);
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            margin: 50px 0;
        }
    }

    &_photo {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #616161;
        flex-shrink: 0; 
        @media screen and (max-width: 767px) {
            width: 120px;
            height: 120px;
        }
    }

    &_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
    }

    &_items {
        margin-top: 30px;
        @media screen and (max-width: 767px) {
            margin: 0 0 0 20px;
        }
    }

    &_item {
        display: flex;
        align-items: center;
        color: white;
        &:not(:first-child) {
            margin-top: 15px;
        }

        &-icon {
            width: 30px;
            height: 30px;
        }

        &-text {
            margin-left: 25px;
            @media screen and (max-width: 767px) {
                margin-left: 15px;
            }
        }

        &-link {
            color: inherit;
        }
    }
}

.positions {

}

.position {
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    background-color: #039be5;

    &__inactive {
        background-color: #616161;
        cursor: pointer;

        .position {
            &_description {
                display: none;
            }

            &_links {
                display: none;
            }

            &_company {
                color: #bdbdbd;
            }

            &_location {
                color: #bdbdbd;
            }
        }
    }

    &:not(:first-child) {
        margin-top: 15px;
    }
    
    &_title {
        display: flex;
        align-items: center;
        font-size: 24px;
        @media screen and (max-width: 991px) {
            font-size: 20px;
        }
        @media screen and (max-width: 767px) {
            font-size: 16px;
        }
    }

    &_name {
        color: white;
    }

    &_company {
        color: #b3e5fc;
        margin-left: 10px;
    }

    &_meta {
        display: flex;
        align-items: center;
        margin-top: 20px;
        @media screen and (max-width: 991px) {
            margin-top: 15px;
        }
    }

    &_timeframe {
        font-size: 18px;
        color: #fafafa;
        @media screen and (max-width: 991px) {
            font-size: 16px;
        }
        @media screen and (max-width: 767px) {
            font-size: 14px;
        }
    }

    &_location {
        margin-left: 40px;
        color: #b3e5fc;
        @media screen and (max-width: 991px) {
            font-size: 14px;
        }
        @media screen and (max-width: 767px) {
            margin-left: 20px;
        }
    }
    
    &_description {
        font-weight: 300;
        line-height: 1.25;
        color: white;
        margin-top: 20px;
        font-size: 18px;
        padding-right: 15px;
        @media screen and (max-width: 991px) {
            font-size: 16px;
            margin-top: 15px;
        }
    }

    &_links {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    &_link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;

        &:hover {
            text-decoration: underline;
        }

        &:not(:first-child) {
            margin-left: 30px;
        }

        &-icon {
            width: 24px;
            height: 24px;
        }

        &-text {
            margin: 5px 0 0 5px;
        }
    }
}